@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

tr.rt-TableRow:nth-child(even) {
	background-color: var(--gray-2);
}

.overlay {
	position: fixed;
	cursor: pointer;
	top: 4rem;
	right: 2rem;
	padding: 1rem;
	background: var(--gray-2);
	border: 1px solid #bbb;
	border-radius: 0.5rem;
	opacity: 0.8;
	transition: all 0.2s;
	z-index: 100;
	width: 25%;
	overflow-x: hidden;
	overflow-y: hidden;
	max-height: 3.5rem;
}

.overlay.open {
	max-height: 80%;
}

.overlay-header {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.overlay:hover {
	opacity: 1;
}
